// ============================================================================================
// Global styles and resets
// ============================================================================================

// Import Variables and Mixins
@use "./variables" as *;
@use "./fonts" as *;
@use "./colors" as *;
@use "./mixins" as *;

// Global Styles
body {
  @extend %primary-font !optional;
  // font-size: $font-size-base;
  color: $black;
  background-color: $white;
  margin: 0;
  padding: 0;
}

// Additional base styles

// Example class
.box-class {
  @extend %secondary-font;
}

// Example Container
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacer;
}
