// ============================================================================================
// Color Variables
// ============================================================================================

// General
$black: rgb(37, 34, 33);
$orange: rgb(222, 103, 58);
$white: rgb(255, 255, 255);

// $blue: #8DCFFF;
// $aqua: #00E0FF;
// $error: #c83532;
// $error-bg: #fbefef;
// $success: #2bac47;
// $success-bg: #f1f8f2;
// $warning: #ffc107;
// $warning-bg: #f3fbfb;

// Green
// $green-bar: #43B58C;
// $green-text: #00B76A;
// $green-bg: #578259;
// $green-bg-darker: #617C72;

// Grey
// $grey-lighter-1: #F5F5F5;
// $grey-light-1: #E4E4E4;
// $grey-light-2: #D9D9D9;
// $grey-light-3: #CFCFCF;
// $grey-normal-1: #B9B9B9;
// $grey-normal-2: #ACACAC;
// $grey-normal-3: #A9A9A9;
// $grey-dark-1: #9C9C9C;
// $grey-dark-2: #646464;
// $grey-dark-3: #727272;

// Purple:
// $purple-bar: #8DA6FF;
// $purple-bg: #61677C;

// $white-light: #feffff;
// $white-light-hover: #fdfefe;
// $white-light-active: #fbfefe;
