// ============================================================================================
// Font Variables
// ============================================================================================

@use './colors';
// @use './media'; // for responsive design


// ============================================================================================
// inter
// ============================================================================================

/* inter-italic-light */
@font-face {
  font-family: 'inter';
  src: url('fonts/Inter-Regular.woff2') format('woff2'),
       url('fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* inter-normal-light */
@font-face {
  font-family: 'inter';
  src: url('fonts/Inter-Regular.woff') format('woff'),
       url('fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* inter-normal-regular */
@font-face {
  font-family: 'inter';
  src: url('fonts/Inter-Regular.woff') format('woff'),
       url('fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* inter-normal-medium */
@font-face {
  font-family: 'inter';
  src: url('fonts/Inter-Regular.woff') format('woff'),
       url('fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* inter-normal-bold */
@font-face {
  font-family: 'inter';
  src: url('fonts/Inter-Regular.woff') format('woff'),
       url('fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


// ============================================================================================
// OpenSans
// ============================================================================================

/* OpenSans-normal-light */
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.woff') format('woff'),
       url('fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* OpenSans-normal-bold */
@font-face {
  font-family: 'OpenSans';
  src: url('fonts/OpenSans-Regular.woff') format('woff'),
       url('fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// STYLES
%primary-font {
  font-family: 'inter', sans-serif;
}

%secondary-font {
  font-family: 'OpenSans', sans-serif;
}

@mixin primaryHeadingText($font-size: 36px, $font-weight: 500, $line-height: 43.5px, $color: colors.$black) {
  @extend %primary-font;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

@mixin primaryMainText($font-size: 24px, $font-weight: 400, $line-height: 29px, $color: colors.$black) {
  @extend %primary-font;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

@mixin secondaryHeadingText($font-size: 20px, $font-weight: 700, $line-height: 27px, $color: colors.$black) {
  @extend %primary-font;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}

@mixin secondaryMainText($font-size: 10px, $font-weight: 400, $line-height: 13.5px, $color: colors.$black) {
  @extend %primary-font;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  color: $color;
}
