// ============================================================================================
// Styles for the overall layout and container
// ============================================================================================
@use "./variables" as *;

// Example Container
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: $spacer;
}
