div#course {
  aside,
  section {
    border-radius: 10px;
    border: 1px solid var(--colour-primary-1);
    padding: 10px;
  }

  section {
    margin-top: 1em;
    clear: both;
  }

  p > aside {
    float: inline-end;
    margin-bottom: 1em;
  }
}
