body {
  margin: 0px;
  padding: calc(2rem + 50px) 2rem 2rem;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  height: 3.6rem;
  border-radius: 1.8rem;
  border: none;
  padding: 0rem 1.8rem;
}

div.Card {
  display: inline-block;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  width: 266px;
  height: 417px;
}

hr {
  border: 1px solid;
  border-bottom-width: 0px;
}
