:root {
  /*
  Values for the following variables are taken from the Untapped Energy Brand Book.
  */

  /* Colour Palette */

  --colour-background: white;
  --colour-primary-1: #252422; /* Raisin Black */
  --colour-primary-2: #eb5e28; /* Flame Orange */
  --colour-primary-3: #f9df74; /* Dandelion */

  --colour-link: #646cff;
  --colour-link-hover: #535bf2;

  /* Typography */

  --font-headers: Gabarito, sans-serif;
  --font-body: Poppins, sans-serif;

  /* Legibility Settings */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--colour-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--colour-link-hover);
}

body {
  background-color: var(--colour-background);
  color: var(--colour-primary-1);
  font-family: var(--font-body);
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: var(--colour-primary-2);
  color: var(--colour-background);
  font-size: 120%;
}

div.Card {
  background-color: var(--colour-primary-1);
  color: var(--colour-background);

  h3 {
    color: var(--colour-primary-3);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headers);
  font-weight: 600; /* Semibold */
}

h1 {
  font-weight: bold;
}

hr {
  border-color: var(--colour-primary-1);
}

nav {
  background-color: var(--colour-primary-2);
  color: var(--colour-background);
}
